html, body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
}

.App__fromControl {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.App__formControl--input {
  flex-grow: 1;
}